@tailwind base;
@tailwind components;
@tailwind utilities;
/* Calendar Styles */
.event-description a {
  text-decoration: underline;
}
.event-description a:hover {
  color: #1d4ed8;
}

.event-description ol {
  list-style-type: decimal;
}

.event-description ul {
  list-style-type: disc;
}

.event-description li {
  margin-left: 1rem;
}
/* Blog Styles */
main article h2 {
  @apply text-3xl md:text-4xl lg:text-5xl my-3 sm:my-4 md:my-5 lg:my-6;
}
main article h3 {
  @apply text-2xl md:text-3xl lg:text-4xl my-2 sm:my-3 md:my-4 lg:my-5;
}
main article h4 {
  @apply text-xl md:text-2xl lg:text-3xl my-1 sm:my-2 md:my-3 lg:my-4;
}
main article ul {
  @apply list-disc my-1 sm:my-2 md:my-3 lg:my-4;
}
main article ol {
  @apply list-decimal my-1 sm:my-2 md:my-3 lg:my-4;
}
main article li {
  @apply ml-12 pl-1 my-1 sm:my-2 md:my-3 lg:my-4;
}
main article a {
  @apply underline text-blue-700 hover:no-underline;
}
main article img {
  @apply m-2 sm:m-3 md:m-4 lg:m-5;
}
main article p {
  @apply leading-8 my-3 sm:my-4 md:my-5 lg:my-6;
}