@tailwind base;
@tailwind components;
@tailwind utilities;
/* Calendar Styles */
.event-description a {
  text-decoration: underline;
}
.event-description a:hover {
  color: #1d4ed8;
}

.event-description ol {
  list-style-type: decimal;
}

.event-description ul {
  list-style-type: disc;
}

.event-description li {
  margin-left: 1rem;
}
/* Blog Styles */
